.wrapper {
    display: flex;
    max-width: 944px;
    flex-wrap: wrap;
    margin: -30px auto 0 auto;
    justify-content: center;

}

.circle {
    margin-top: 78px;
}

.circle:first-child,
.circle:nth-child(10) {
  margin-left: 0;
}